<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>471460316512-li5b4m9901rsp54iugd9ieks85m7j47t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471460316512-li5b4m9901rsp54iugd9ieks85m7j47t</string>
	<key>API_KEY</key>
	<string>AIzaSyAiujG6-t9aDR0U8heGQj0tEzXNuXhJxJg</string>
	<key>GCM_SENDER_ID</key>
	<string>471460316512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.journalists.michael.ios</string>
	<key>PROJECT_ID</key>
	<string>journalists-80ee8</string>
	<key>STORAGE_BUCKET</key>
	<string>journalists-80ee8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:471460316512:ios:f6db7e98deec6d9e</string>
	<key>DATABASE_URL</key>
	<string>https://journalists-80ee8.firebaseio.com</string>
</dict>
</plist>
